.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selecciones {
    text-align: center;
    align-items: center;
    justify-content: center;
}

section {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    padding: 0px 20px;
    margin: 10px;
    background: rgb(231, 229, 229);
}

#pokemonImagen {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 200px;
    height: 200px;
}

.selecciones button {
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 5px;
    border: gainsboro outset;
}

#mensaje {
    font-size: 15px;
    background: blue;
    border: solid black;
    font-family: 'Times New Roman', Times, serif;
}

#reset {
    margin-top: 10px;
}

.textoInicial {
    font-size: 16px;
    border-style: dashed;
    border-radius: 10px;
}